@{
    Layout = "~/Views/Shared/_LayoutPhoto.cshtml";
}

<!-- Main -->
<div id="main">
    <!-- Row -->
    <div class="vc_row small row_padding_top row_padding_bottom">

        <div class="container">

            <h4 >The quest for bread within garbage</h4>

            <p class="inhirit-once">
                &nbsp;&nbsp;&nbsp;&nbsp;Iran is among the richest countries in world in terms of natural resources, yet 60% of the population live under the poverty line. Among the many reasons of this poverty are unequal distribution of wealth and the inadequate facilities in impoverished areas. One of these impoverished areas is a village called Shurak, in norther Khorasan province. The village hosts 150 families one-third of which make their livings through collecting garbage in landfills. Most people who collect garbage were not able to afford education and barely graduated high school. The nearest school is within a 36-kilometer distance from the village and most people are not able to afford its 500,000-tomans tuition fee. Drying up of springs and qanats and subsequent dry-up of the farmlands mostly as a reason of climate change is another reason that they have lost their jobs and consequently become poor.
                Ahmad is one of the garbage collectors. He is 30 and father of 3 children and has been collecting garbage for nearly 13 years. His sole source of income is collecting recyclables.  He earns less than 2 dollars from an 8-hour night work. He and other villagers have to work at night as the garbage trucks bring the garbage from the city to the landfill at nights. The temperature at nights may drop to minus 15 degrees Celsius in winters along with snowfall. Another reason for the night work is the risk of incineration of garbage and consequent loss of recyclables in the next mornings. Therefore, they have no choice but working at nights in order to maintain the hope for finding recyclables.
                Ahmad’s daughter has finished the fifth grade. In order to continue her education, she needs to be sent to a boarding school. However, Ahmad cannot afford a boarding school and this simply means a farewell to further education of her daughter.
                In recent years, international embargos on Iran has had a significant impact on consumer buying power which in turn has led to a significant drop in the amount of recyclables and consequent increased hardships of life for Ahmad and the other villagers. Ahmad’s greatest concern is that one day his son has to pursue his family career: collecting recyclables.
            </p>


        </div>

    </div>
    <!--/Row -->

    <div id="hero-image" class="hidden" style="background-image:url(/images/projects/01hero.jpg)">
        <div id="image-border-left"></div>
        <div id="image-border-right"></div>
    </div>


    <!-- Main Content -->
    <div id="main-content">

        <!-- Row -->
        <div class="vc_row row_padding_top ">

            <div class="container">

                <div class="one_half">

                </div>

                <div class="last">
                    <p class="has-animation project-text" data-delay="30">Ahmad is waiting for the garbage truck. Ahmad is 30 and has been collecting recyclables for 13 years. He and his friends collect recyclables from 9 pm to 4 am every night.</p>
                </div>
            </div>
        </div>
        <!--/Row -->
        <!-- Row -->
        <div class="vc_row full row_padding_top">

            <div class="container ">

                <div class="one_half">
                    <a href="~/images/projects/sb02.jpg" class="image-link center"><img class="has-animation" data-delay="40" src="~/images/projects/sb02.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">a number of men are collecting recyclables. Most of them are married and have children. Their income is less than 2 dollars from this 8-hour hard work.</p>

                <div class="one_half last">
                    <a href="~/images/projects/sb03.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb03.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    portrait of Reza, one of the garbage collectors. Every night, He and Ahmad’s brother go to the landfill and collect recyclables in sometimes extremely cold weather. They earn less than 2 dollars from an 8-hour work.
                </p>

                <div class="one_half last">
                    <a href="~/images/projects/sb04.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb04.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    a number of garbage collectors are going to the landfill. Since municipality workers may dump and incinerate the garbage in the mornings, they work at nights in search for recyclables wearing head lights.
                </p>
                <div class="one_half last">
                    <a href="~/images/projects/sb05.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb05.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    two workers look for recyclables while a garbage truck is being unloaded. Most garbage trucks in Iran work at nights.
                </p>
                <div class="one_half last">
                    <a href="~/images/projects/sb06.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb06.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    portrait of a garbage collector working in the temperature of minus 15 degrees Celsius. Most workers have to work at any weather conditions due to poverty. Most of them use drugs to keep their bodies warm.
                </p>
                <div class="one_half last">
                    <a href="~/images/projects/sb07.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb07.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    a number of workers gathering around fire and waiting for the garbage truck.  Most of them are married and earn less than 2 dollars a day.
                </p>
                <div class="one_half last">
                    <a href="~/images/projects/sb08.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb08.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    the yard of a garbage collector’s house. In order to decrease the risk of theft, garbage collectors bring what they find from the landfill to their houses. They pack the recyclables and take them to the city for sale. Piling garbage gives rise to diseases and odor in the village.
                </p>
                <div class="one_half last">
                    <a href="~/images/projects/sb09.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb09.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    a pile of recyclables from garbage. Sometimes hospital waste is seen among the garbage which may lead to disease transmission. In recent years, international embargos on Iran has had a significant impact on consumer buying power which in turn has led to a significant drop in the amount of recyclables and consequent increased hardships of life for the workers.
                </p>
                <div class="one_half last">
                    <a href="~/images/projects/sb10.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb10.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    a spring is drying up due to climate change and lack of financial resources for dredging. Springs drying and lack of water for farming is another reason pushing people to collect recyclables.
                </p>
                <div class="one_half last">
                    <a href="~/images/projects/sb11.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb11.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    children are waiting for the bus to go to school which is 36 km away. Many of them cannot afford the 100-dollar tuition fee of the boarding school and eventually end up with collecting recyclables.
                </p>
            </div>

        </div>
        <!--/Row -->
    </div>
    <!--/Main Content -->
</div>
<!--/Main -->
