
@{
    ViewData["Title"] = "Biography";
    Layout = "~/Views/Shared/_LayoutPhoto.cshtml";
}

<!-- Main -->
<div id="main">


    <!-- Hero Section -->
    <div id="hero">
        <div id="hero-styles" class="parallax-onscroll opacity-onscroll">
            <div id="hero-caption">
                <div class="inner">
                    <div class="hero-title">Biography</div>
                </div>
            </div>
        </div>
    </div>
    <div id="hero-height" class="hidden"></div>
    <!--/Hero Section -->
    <div id="main-content">
        <div class="vc_row row_padding_top ">

            <div class="container">

                <div class="last">
                    <h4 class="has-animation" data-delay="30">This is Ata ranjbar.</h4>
                    <p class="has-animation inhirit-once" data-delay="30">Graduate news photography.</p>
                    <p class="has-animation inhirit-once" data-delay="30">The news photographer for the IRNA press , Mehr , Fars &amp; Mizan</p>
                    <p class="has-animation inhirit-once" data-delay="30">Service Secretary, pictures of the paper sobh emroz province khorasan razavi.</p>
                    <p class="has-animation inhirit-once" data-delay="30">Judge of the third national festival Negah Ashurayi 2016. </p>
                    <p class="has-animation inhirit-once" data-delay="30"> Judge of the third handicaps festival 2017.</p>
                    <p class="has-animation inhirit-once" data-delay="30"> Umpire for the National Festival Begardhas 2018.</p>
                    <p class="has-animation inhirit-once" data-delay="30"> A presence at the Danish Academy of photojournalism (Soren poggner).</p>
                    <p class="has-animation inhirit-once" data-delay="30"> Accepted in over 200 international and domestic international festival.</p>
                    <p class="has-animation inhirit-once" data-delay="30"> The international rujan festival with subject The heat.</p>
                    <p class="has-animation inhirit-once" data-delay="30">Attend the festival ... with two sets of photographs.</p>
                    <p class="has-animation inhirit-once" data-delay="30"> Attendance at 20 Group shows</p>
                </div>
                <div class="last ">
                    <h4 class="has-animation" data-delay="30">Curator :</h4>
                    <p class="has-animation inhirit-once" data-delay="30"> The mobile picture exhibit called sizdah dar mashhad</p>
                    <p class="has-animation  inhirit-once" data-delay="30"> Iran's exhibition is in the cities of Iran mashhad , esfehan, gorgan and bojnord.</p>
                    <p class="has-animation inhirit-once" data-delay="30"> The paint show in street photography by Iranian photographers from 18 countries.</p>
                </div>
                <div class="last">
                    <h4 class="has-animation " data-delay="30">Books :</h4>
                    <p class="has-animation inhirit-once" data-delay="30"> Orbiting the book of poetry and its picture</p>
                    <p class="has-animation inhirit-once" data-delay="30"> Georgia 2017 productions of group exhibition at the Contemporary Museum of Sweden, 2017.</p>
                    <p class="has-animation inhirit-once" data-delay="30"> A presence at the 2017 Canada fair.</p>
                </div>
                <div class="last">
                    <h4 class="has-animation" data-delay="30">Positions :</h4>
                    <h5 class="has-animation inhirit-once" data-delay="30">Foreign :</h5>
                    <p class="has-animation inhirit-double" data-delay="30"> The distinguished panel of judges, grant Alexia 2015.</p>
                    <p class="has-animation inhirit-double" data-delay="30"> International finalists for hipa 2017.</p>
                    <p class="has-animation inhirit-double" data-delay="30"> International finalist FETO Istanbul, 2016.</p>
                    <p class="has-animation inhirit-double" data-delay="30"> Taking the first place at the 2015 Arbaeen World Festival.</p>
                    <p class="has-animation inhirit-double" data-delay="30"> Finalist yumanity festival in London, 2018.</p>
                </div>
            </div>
        </div>
    </div>
</div>
