
@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "~/Views/Shared/_LayoutPhoto.cshtml";
}


<!-- Main -->
<div id="main">


    <!-- Hero Section -->
    <div id="hero">
        <div id="hero-styles" class="parallax-onscroll opacity-onscroll">
            <div id="hero-caption">
                <div class="inner">
                    <div class="hero-subtitle">Photographer</div>
                    <div class="hero-title">Ata Ranjbar Zeydanlou</div>

                </div>
            </div>
        </div>
    </div>
    <div id="hero-height" class="hidden"></div>
    <!--/Hero Section -->
    <!-- Main Content -->
    <div id="main-content">


        <!-- Portfolio Wrap -->
        <div id="portfolio-wrap" class="visible-text">
            <div class=" under-line-title">Recent Photos</div>

            <!-- Portfolio Columns -->
            <div id="portfolio" data-col="3">
                <div class="item design">

                    <div class="item-content">

                        <a asp-controller="Home" asp-action="Project2" class="project-link" data-type="page-transition">
                            <img class="item-img" src="~/images/2.png" alt="Image">
                        </a>
                        <div class="item-caption">
                            <div class="item-title">Return to life</div>
                            <div class="item-sub-mask">
                                <div class="item-cat">2019/05/07</div>
                                <div class="item-case">View Project</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="item photography">

                <div class="item-content">

                    <a asp-controller="Home" asp-action="Project" class="project-link" data-type="page-transition">
                        <img class="item-img" src="~/images/1.jpg" alt="Image">
                    </a>
                    <div class="item-caption">
                        <div class="item-title">In Search of Bread</div>
                        <div class="item-sub-mask">
                            <div class="item-cat">2019/01/20</div>
                            <div class="item-case">View Project</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--/Portfolio -->

        </div>
        </br>
        <!--/Portfolio Wrap -->


    </div>
</div>
<!--/Main -->
