
@{
    Layout = "~/Views/Shared/_LayoutPhoto.cshtml";
}

<!-- Main -->
<div id="main">
    <!-- Row -->
    <div class="vc_row small row_padding_top row_padding_bottom">

        <div class="container">

            <h4>Return to life</h4>

            <p class="inhirit-once">
                &nbsp;&nbsp;&nbsp;&nbsp;People are born in different conditions. Some are born in developed countries and some are born in developing countries where everything is different from that of the developed countries including crimes and consequent sentences for the criminals. Iran is an Islamic country the judicial system of which is based on the Islamic law which in turn may result in issuing sentences which seem cruel in nature. In Iran, if someone murders someone else may face Qisas (retaliation). Literally meaning revenge, Qisas essentially should be performed by the avenger of blood i.e. the blood-relatives of the victim could lawfully take the murderer’s life. The only way to escape is to be granted pardon by the victim’s family.  If the pardon is granted, the murderer will be forgiven and freed.<br />
                <br />The people who are released from prison may face difficulties in finding jobs or being employed due to their criminal records which in turn may pave the way for them to commit crimes once again.<br />
                <br />An Iranian pathologist, Doctor Nabi, has established a food product manufacturer. However, what distinguishes this company is its employment conditions; to be employed in this factory you have to have a ‘criminal record’.<br />
                <br />The workers hired, who come from different backgrounds including murder, drug dealing, etc., could successfully maintain a peaceful working condition and could survive their past lives and start a new life. If the factory hadn’t existed, they might have returned to the criminal world.

            </p>


        </div>

    </div>
    <!--/Row -->
    <!-- Main Content -->
    <div id="main-content">


        <!-- Row -->
        <div class="vc_row full row_padding_top">

            <div class="container ">

                <div class="one_half">
                    <a href="~/images/Project2/sb01.png" class="image-link center"><img class="has-animation" data-delay="40" src="~/images/Project2/sb01.png" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">Kasra, 23, has been convicted of homicide. After 4 years, his conviction changed to non-felonious homicide. He and his friend were playing with fireworks in the street when his friend started a fight with a butcher. His friend escaped the scene and the butcher attacked Kasra. Kasra was carrying fireworks with high explosivity so when he threw a punch to the butcher’s face the fireworks exploded and seriously injure the butcher. The butcher lost his life on the way to hospital and Kasra lost four of his fingers. Kasra is currently imprisoned but he has been granted permission to work in the factory. “I would never have played with fireworks if I had returned to the scene. I repent me of what I did”. Kasra said.</p>

                <div class="one_half">
                    <a href="~/images/project2/sb07.png" class="image-link center"><img class="has-animation" data-delay="40" src="~/images/Project2/sb07.png" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">Mostafa, 30, has been convicted of homicide. He caught his wife cheating on him and attacked the other man with a knife and killed him. Mostafa was imprisoned for 5 years until the time that her ex-wife informed him that her 4-year-old child was from the other man. After the DNA test, Mostafa was released. Before he started working in this factory, he had difficulty finding job due to his criminal record. He said that working in this factory taught him to be more patient and be a more beneficial member of the society.</p>

                <div class="one_half last">
                    <a href="~/images/Project2/sb08.png" class="image-link"><img class="has-animation" data-delay="40" src="~/images/Project2/sb08.png" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    Hasan, 36, was convicted of homicide and was imprisoned for 9 years. He and his friends were involved in a collective conflict, and he was arrested after 3 weeks. Despite the inadequacy of evidences, he was convicted of homicide and imprisoned for 9 years. After 9 years he was exculpated. he used to be a carpenter and he managed to craft the largest Quran out of wood while he was in prison. He wasn’t able to find a job until he got acquainted with this factory. He says that he is happy working here though he is away from his hometown.
                </p>

                <div class="one_half last">
                    <a href="~/images/Project2/sb04.png" class="image-link"><img class="has-animation" data-delay="40" src="~/images/Project2/sb04.png" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    Hasan, 41, has been sentenced to life for drug dealing. He was arrested when he was 28 and has been imprisoned for 13 years. He says that he was a drug dealer since he did not have any other skills. “I have always thought that I would have no choice but drug dealing after prison” Hasan says. He says that he is happy working here and sees much more hope in future.
                </p>
                <div class="one_half last">
                    <a href="~/images/Project2/sb09.png" class="image-link"><img class="has-animation" data-delay="40" src="~/images/Project2/sb09.png" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    Amir, 47, was the father of 2 children. His two sisters also lived with him. One day, he decided to commit suicide since he couldn’t tolerate the hardships of his life anymore. He bought some poison. However, he couldn’t use the poisons due to the intolerable odor of the poison. He poured the poison into the antibiotic capsules and put them in a drawer to use it in a proper time. One of his sisters who was totally unaware of the story, gave the capsules to Amir’s children, Amr’s other sister and she herself took one. After the incident, one of Amir’s children and one of his sisters lost their lives. Amir and his sister were arrested and were imprisoned for 3 years. After 3 years, the court changed the conviction to non-felonious homicide. He says that he thanks god that he is now working in this factory, otherwise he could not find any job.
                </p>
                <div class="one_half last">
                    <a href="~/images/Project2/sb05.png" class="image-link"><img class="has-animation" data-delay="40" src="~/images/Project2/sb05.png" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    Hamid, 37, was convicted of theft and addiction. The last time that he was in prison was 2 years ago after having been in prison for 3 years. He has been working in this factory for 2 years and now is a skillful storekeeper. According to the management, since he was the storekeeper, nothing has been reported stolen from the warehouse.
                </p>
                <div class="one_half last">
                    <a href="~/images/Project2/sb06.png" class="image-link"><img class="has-animation" data-delay="40" src="~/images/Project2/sb06.png" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    Ali, 34, was a drug dealer and an addict. He started drug dealing due to poverty. It has been 3 years now that he is out of the prison. He says that since he started working here, he has cut relations with his former criminal friends and has pursued a clean life.
                </p>
                <div class="one_half last">
                    <a href="~/images/Project2/sb10.png" class="image-link"><img class="has-animation" data-delay="40" src="~/images/Project2/sb10.png" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    Zahra, 23, is the mother of 2 children. His husband married another woman without her knowing and left her and her 2 children. She said she had lost her parents in her childhood and had been supposed to be raised by her grandmother. However, she lost her grandmother due to poverty. She was raised in an infantry and married at an early age. She is now waiting for the court to process her divorce petition.
                </p>
                <div class="one_half last">
                    <a href="~/images/Project2/sb02.png" class="image-link"><img class="has-animation" data-delay="40" src="~/images/Project2/sb02.png" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    Masoumeh, 46, is the mother of 3 children and has been working in this factory for 5 years. His husband has been imprisoned due to drug dealing. As the head of the household, she experienced extreme hardships before she started working in this factory. Now she thinks the future is brighter.
                </p>
                <div class="one_half last">
                    <a href="~/images/Project2/sb03.png" class="image-link"><img class="has-animation" data-delay="40" src="~/images/Project2/sb03.png" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    Esmat, 42, is the head of household. His husband is a drug addict. She is the mother of two children and has been working in this factory for 5 years. She is contended that she works in a safe palce.
                </p>
            </div>

        </div>
        <!--/Row -->
    </div>
    <!--/Main Content -->
</div>
<!--/Main -->
