
@{
    ViewData["Title"] = "Biography";
    Layout = "~/Views/Shared/_LayoutFa.cshtml";
}

<div id="main">


    <!-- Hero Section -->
    <div id="hero">
        <div id="hero-styles" class="parallax-onscroll opacity-onscroll">
            <div id="hero-caption">
                <div class="inner">
                    <div class="hero-title">بیوگرافی</div>
                </div>
            </div>
        </div>
    </div>
    <div id="hero-height" class="hidden"></div>
    <!--/Hero Section -->
    <div id="main-content">
        <div class="vc_row row_padding_top ">

            <div class="container">

                <div class="last">
                    <h4 class="has-animation" data-delay="30">عطا رنجبر زیدانلو هستم </h4>
                    <p class="has-animation inhirit-once" data-delay="30">فارغ التحصیل رشته عکاسی خبری </p>
                    <p class="has-animation inhirit-once" data-delay="30">عکاس خبری خبرگزاری ایرنا . مهر . فارس . میزان</p>
                    <p class="has-animation inhirit-once" data-delay="30">دبیر سرویس عکس روزنامه صبح امروز خراسان رضوی </p>
                    <p class="has-animation inhirit-once" data-delay="30">داور سومین جشنواره ملی نگاه عاشورایی 1395 </p>
                    <p class="has-animation inhirit-once" data-delay="30"> داور سومین جشنواره استانی معلولیت 1396</p>
                    <p class="has-animation inhirit-once" data-delay="30"> داور جشنواره ملی بگردهست 1397</p>
                    <p class="has-animation inhirit-once" data-delay="30"> حضور در مسترکلاس  دانشگاه فتوژورنالیست دانمارک (سورن پاگنر)</p>
                    <p class="has-animation inhirit-once" data-delay="30">  پذیرفته شده در بیش از 200 جشنواره  بین اللمللی و داخلی</p>
                    <p class="has-animation inhirit-once" data-delay="30"> حضور در جشنواره بین المللی فجر در سالهای 1391 و 1392</p>
                    <p class="has-animation inhirit-once" data-delay="30">حضور در جشنواره شید با دو مجموعه عکس  جشنواره بین المللی روژان  با موضوع گرما</p>
                    <p class="has-animation inhirit-once" data-delay="30"> حضور در20 نمایشگاهی گروهی </p>
                </div>
                <div class="last ">
                    <h4 class="has-animation" data-delay="30">کیوریتور :</h4>
                    <p class="has-animation inhirit-once" data-delay="30"> کیوریتور نمایشگاه عکس موبایلی به نام سیزده در مشهد </p>
                    <p class="has-animation  inhirit-once" data-delay="30"> کیوریتور نمایشگاه ایران نگار در شهرهای مشهد اصفهان گرگان وبجنورد</p>
                    <p class="has-animation inhirit-once" data-delay="30"> کیوریتور نمایشگاه رنگ در عکاسی خیابانی با حضور عکاسان ایرانی از 18 کشور </p>
                </div>
                <div class="last">
                    <h4 class="has-animation " data-delay="30">کتاب :</h4>
                    <p class="has-animation inhirit-once" data-delay="30"> گرداورنده کتاب شعر و عکس آن</p>
                    <p class="has-animation inhirit-once" data-delay="30"> نمایشگاه گروهی گرجستان 2017و نمایشگاه گروهی در موزه معاصر کشور سوئد2017 اشاره کرد </p>
                    <p class="has-animation inhirit-once" data-delay="30"> حضور در نمایشگاه تیرگان 2017 کانادا</p>
                </div>
                <div class="last">
                    <h4 class="has-animation" data-delay="30">مقام ها :  </h4>
                    <h5 class="has-animation inhirit-once" data-delay="30">خارجی :</h5>
                    <p class="has-animation inhirit-double" data-delay="30"> برنده نگاه ویژه داوران گرنت آلکسیا  2015</p>
                    <p class="has-animation inhirit-double" data-delay="30"> جزو فینالیستهای جشنواره بین المللی hipa 2017</p>
                    <p class="has-animation inhirit-double" data-delay="30"> فینالیست جشنواره بین المللی (موبایل)  فتو استانبول 2016</p>
                    <p class="has-animation inhirit-double" data-delay="30">کسب مقام اول جشنواره جهانی اربعین 2015</p>
                    <p class="has-animation inhirit-double" data-delay="30"> فینالیست فستیوال yumanity   در لندن 2018</p>
                    <h5 class="has-animation inhirit-once" data-delay="30">1397 :</h5>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام اول خانه دوست </p>
                    <p class="has-animation inhirit-once" data-delay="30"> تقدیر جشنواره یزد</p>
                    <h5 class="has-animation inhirit-once" data-delay="30">1396 :</h5>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام سوم دومین جشنواره عکس تاکسی اصفهان </p>
                    <h5 class="has-animation inhirit-once" data-delay="30">1395  :</h5>
                    <p class="has-animation inhirit-once" data-delay="30"> عکاس برتر جشنواره ملی سیب اصفهان </p>
                    <p class="has-animation inhirit-once" data-delay="30"> عکاس برتر جشنواره ملی محیط زیست  </p>
                    <h5 class="has-animation inhirit-once" data-delay="30">1394  :</h5>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام اول جشنواره ملی آب تهران</p>
                    <p class="has-animation inhirit-once" data-delay="30">کسب مقام اول جشنواره ملی عکس نقد فضای شهری در بخش حرفه ای  </p>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام اول جشنواره ملی عبرات</p>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام دوم در جشنواره ملی قاب سرخ  </p>
                    <p class="has-animation inhirit-once" data-delay="30">کسب رتبه عکاس برتر جشنواره ملی بازار اراک </p>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام اول جشنواره طلوع خرداد  </p>
                    <p class="has-animation inhirit-once" data-delay="30">کسب رتبه عکاس برتر دومین جشنواره بشر دوستی  </p>
                    <p class="has-animation inhirit-once" data-delay="30"> تقدیرشده در دومین جشنواره هنری و ادبی محتشم </p>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام دوم جشنواره خراسان شمالی  </p>
                    <p class="has-animation inhirit-once" data-delay="30"> تقدیر شده جشنواره ملی یازده بیست ونه اقتصاد مقاومتی </p>
                    <p class="has-animation inhirit-once" data-delay="30"> تقدیرشده دومین جشنواره ملی شاهچراغ  </p>
                    <h5 class="has-animation inhirit-once" data-delay="30">1393  :</h5>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام اول هشتمین جشنواره سراسری طنز سوره</p>
                    <p class="has-animation inhirit-once" data-delay="30">کسب مقام سوم سوگواره ملی قاب خالی خورشید </p>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام دوم جشنواره ملی 36 انقلاب </p>
                    <p class="has-animation inhirit-once" data-delay="30"> عکاس برتر جشنواره ملی عاشورایی کیش  </p>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام سوم سوگواره ملی هلال سرخ </p>
                    <p class="has-animation inhirit-once" data-delay="30"> عکاس برتر جشنواره ملی پروانه های امید   </p>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام اول جشنواره ملی صنعت شیرینی </p>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام اول  نخستین جشنواره ملی سوگواره یاس </p>
                    <p class="has-animation inhirit-once" data-delay="30"> کسب مقام دوم در جشنواره ملی سفر و معلولیت  </p>
                    <p class="has-animation inhirit-once" data-delay="30"> تقدیرشده در جشنواره ملی زنان و مهارت  </p>
                    <p class="has-animation inhirit-once" data-delay="30"> تقدیر شده جشنواره ملی  معلولیت و زندگی  </p>
                    <h5 class="has-animation inhirit-once" data-delay="30">1392  :</h5>
                    <p class="has-animation inhirit-once" data-delay="30"> مقام اول جشنواره ملی  دفاع مقدس </p>
                    <p class="has-animation inhirit-once" data-delay="30"> مقام اول جشنواره ملی مصرف بهینه برق </p>
                    <p class="has-animation inhirit-once" data-delay="30">عکاس برتر جشنواره ملی قاب حماسه </p>
                    <p class="has-animation inhirit-once" data-delay="30">مقام سوم جشنواره ملی کنگره وقف  </p>
                    <p class="has-animation inhirit-once" data-delay="30"> مقام دوم جشنواره استانی بسیج </p>
                    <p class="has-animation inhirit-once" data-delay="30"> مقام چهارم جشنواره ملی قابهای بهشتی   </p>
                    <p class="has-animation inhirit-once" data-delay="30"> تقدیر شده جشنواره ملی تابش(مجازی) </p>
                    <p class="has-animation inhirit-once" data-delay="30"> تقدیرشده در جشنواره امر به معروف و نهی از منکر </p>
                    <h5 class="has-animation inhirit-once" data-delay="30">1391  :</h5>
                    <p class="has-animation inhirit-once" data-delay="30"> مقام اول جشنواره  ملی عکس دل و دیده </p>
                    <p class="has-animation inhirit-once" data-delay="30">مقام اول  در جشنواره ملی قاب سرخ </p>
                    <p class="has-animation inhirit-once" data-delay="30">عکاس برتر جشنواره  ملی کار کوشا </p>
                    <p class="has-animation inhirit-once" data-delay="30">مقام دوم جشنواره ملی رشد  </p>
                    <p class="has-animation inhirit-once" data-delay="30">  مقام هفتم جشنواره ملی امام رضا </p>
                    <p class="has-animation inhirit-once" data-delay="30"> مقام دوم جشنواره شهرستانی رضوی   </p>
                    <p class="has-animation inhirit-once" data-delay="30"> تقدیر شده در جشنواره ملی کتاب در آیینه </p>
                    <h5 class="has-animation inhirit-once" data-delay="30">1390  :</h5>
                    <p class="has-animation inhirit-once" data-delay="30"> عکاس برتر جشنواره سلامت و روان در بخش مجموعه </p>
                    <p class="has-animation inhirit-once" data-delay="30">مقام دوم در جشنواره ملی یزدپیکچرز </p>
                    <p class="has-animation inhirit-once" data-delay="30">مقام سوم در جشنواره ملی اعتیاد </p>
                    <p class="has-animation inhirit-once" data-delay="30"> تقدیر شده در جشنواره ملی یزد پیکچرز </p>
                </div>
            </div>
        </div>
    </div>
</div>

