
@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_LayoutFa.cshtml";
}

<!-- Main -->
<div id="main">
    <!-- Row -->
    <div class="vc_row small row_padding_top row_padding_bottom">

        <div class="container">

            <h4>بدنبال نان در میان زباله ها </h4>

            <p class="inhirit-once">
                &nbsp;&nbsp;&nbsp;&nbsp;ایران جزو کشورهای ثروتمند از نظر داشتن منابع طبیعی در دنیا میباشد اما نزدیک به  60درصد مردم ایران زیر خط فقر
                زندگی میکنند دلایل متعددی در این فقر 60درصدی جمعیت ایران دخیل میباشد عواملی مانند تقسیم نشدن درست ثروت از
                فروش منابع طبیعی مانند نفت و گاز در بین مردم و همچنین نبود امکانات کافی در مناطق محروم را اشاره کرد . یکی از
                مکانهایی که در ایران. محروم از امکانات و رسیدگی میباشد روستایی بنام شورک در منطقه شمالی استان خراسان در ایران
                میباشد. نزدیک به یک سوم این روستا که تشکیل شده از  650خانواده میباشد زندگی خود را از جمع کردن مواد بازیافتی از
                محل دفن زباله های شهری میگذرانند. اکثر کسانیکه برای جمع کردن زباله ها می ایند بدلیل فقر نتوانسته اند ادامه تحصیل
                بدهند و اکثرا مدرک تحصیلیشان زیر دیپلم میباشد . نزدیکترین دبیرستان به این روستا  60کیلومتر فاصله دارد که سالانه مبلغ
                665هزار تومان هزینه تحصیل میگیرند که اکثر افراد مانده از تحصیل قدرت پرداخت مبلغ را نداشته و ندارند .یکی دیگر از
                دلایل روی اوردن این افراد به جمع اوری مواد بازیافتی تغییرات اب و هوایی و خشک شدن چشمه ها و قنات ها میباشد که نبود
                اب باعث شده تا زمینهای کشاورزی از بین برود و این افراد بیکار شوند و فقیر . یکی از افراد که در محل دفن زباله ها برای
                پیدا کردن مواد بازیافتی میرود احمد میباشد . احمد  66ساله و دارای  6فرزند میباشد و نزدیک  06سال است که در محل دفن
                زباله ها کار میکند . احمد تنها راه درامدش از راه جمع کردن مواد بازیافتی میباشد در امد احمد از هشت ساعت کار شبانه کمتر
                از دو دلار میباشد او و دیگر روستاییان برای تامین کردن مخارج اولیه خود و فرزندانشان مجبور هستن شبها کارکنند شبهایی
                که دمای هوا زیر  50درجه سانتیگراد همراه با بارش برف میباشد دلیل اینکه شبها احمد و روستاییان کارمیکنند ماشینهای جمع
                اوری زباله شهری هستن چون ماشینها شبها زباله هارا از میان شهرجمع اوری میکنند و به محل دفن زباله ها میاورند در صبح
                ها از طرف شهرداری احتمال اتش زدن زباله ها و از بین رفتن مواد بازیافتی هست برای همین احمد و دیگر روستاییان مجبور
                به کار در شب هستن ساعت کاری انها از ساعت  10شب تا  4بامداد و گاهی بیشتر میباشد. احمد به من میگفت که دخترش
                کلاس پنجم را تمام کرده و برای گذراندن کلاسهای بالاتر نیاز دارد که دخترش به مدرسه شبانه روزی برود اما چون احمد پولی
                ندارد مجبور است از درس خواندن دخترش جلوگیری کند . در یکسال اخیر بدلیل تحریم ها به گفته احمد مواد بازیافتی کم شده
                است که میتوان به گرانی  666درصدی قیمت کالاهای اساسی در ایران اشاره کرد که دلیل ضعیف شدن قدرت خرید مردم
                میباشد .کم شدن مواد بازیافتی برای احمد و دیگر روستاییان که در محل دفن زباله ها کار میکنند اغاز گذران زندگی سختتری
                نسبت به گذشته را همراه خواهد داشت و همچنین بیشتر شدن قشر فقیر در ایران . احمد از اینکه پسرش بدلیل فقر مانند او روزی
                یک پیداکننده مواد بازیافتی شود نگران وغمگین است  .
            </p>


        </div>

    </div>
    <!--/Row -->
    <!-- Main Content -->
    <div id="main-content">


        <!-- Row -->
        <div class="vc_row full row_padding_top">

            <div class="container ">

                <div class="one_half">
                    <a href="~/images/projects/01hero.jpg" class="image-link center"><img class="has-animation" data-delay="40" src="~/images/projects/01hero.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    احمد ایستاده بر روی زباله ها در انتظار امدن ماشین حمل زباله . احمد  30 سال می باشد و  13 سال است که به دلیل نداشتن
                    سواد و تخصص در محل جمع اوری زباله ها کار میکند . احمد و دوستانش هر شب ساعت 9شب تا نزدیک  4صبح زباله های
                    .بازیافتی را جمع اوری میکنند
                </p>

                <div class="one_half">
                    <a href="~/images/projects/sb02.jpg" class="image-link center"><img class="has-animation" data-delay="40" src="~/images/projects/sb02.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    تعدادی از مردها در حال جمع اوری مواد بازیافتی از بین زباله ها می باشند . اکثر افرادی که در کار جمع اوری مواد بازیافتی
                    .متاهل و دارای فرزند میباشند . درامد این افراد برای هشت ساعت کار سخت شبانه کمتر از دودلار میباشد
                </p>

                <div class="one_half">
                    <a href="~/images/projects/sb03.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb03.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    پرتره رضا یکی از کارگران جمع اوری ضایعات در میان برف . رضا هرشب به همراه برادر احمد به محل جمع اوری
                    ضایعات میروند و در هوای سرد زمستان که گاهی به  05درجه زیر صفر میرسد کار میکنن درامد انها باهشت ساعت کار کمتر
                    از  1دلار میباشد.
                </p>

                <div class="one_half">
                    <a href="~/images/projects/sb04.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb04.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    تعدادی از کارگران جمع اوری زباله که در حال رفتن بسوی جمع اوری مواد بازیافتی میباشند انها بدلیل اینکه در روز امکان دارد مواد بازیافتی نصیبشان نشود (چون افرادی هم روزها بدنبال مواد بازیافتی به محل دفن زباله های شهری می ایند ) در شب به همراه چراغهای نوری بر سر خود کار میکنند و مواد بازیافتی را جستجو میکنند.
                </p>
                <div class="one_half">
                    <a href="~/images/projects/sb05.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb05.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    دو کارگر در حال یافتن مواد بازیافتی و ماشین  حمل زباله در حال خالی کردن زباله  .اکثر ماشین های جمع اوری زباله در ایران در ساعات شب فعالیت میکنند  .
                </p>
                <div class="one_half">
                    <a href="~/images/projects/sb06.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb06.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    
                     پرتره یکی از کارگران جمع اوری زباله در زیر برف در دمای زیر ۱۵ درجه سانتیگراد اکثر کارگران بدلیل فقر مجبورن در هرشرایط اب و هوایی برای جمع اوری مواد بازیافتی به محل دفن زباله ها بروند  .اکثر این افراد برای گرم شدن مجبور به استفاده از مواد مخدر هستن.
                </p>
                <div class="one_half">
                    <a href="~/images/projects/sb07.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb07.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    تعدادی از کارگان در حال گرم کردن خود در مقابل اتش در دمای منفی ۱۵ درجه و در انتظار ماشینهای حمل زباله برای پیدا کردن مواد بازیافتی .اکثر این افراد متاهل میباشند و درامد انها کمتر از دو دلار برای هشت ساعت کارشبانه سخت میباشد
                </p>
                <div class="one_half">
                    <a href="~/images/projects/sb08.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb08.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    حیاط منزل یکی از افرادی که مواد بازیافتی را از محل دفن زباله جمع اوری میکند  .بدلیل ترس از دزدیده شدن مواد بازیافتی کارگران مواد بازیافتی وسایلی را که پیدا میکنند ازمیان زباله ها به حیاط منزل خود می اورند و بعد از جمع اوری مواد بازیافتی زیاد مواد را بسته بندی کرده و برای فروش به شهر میبرند  .این مواد به دلیل بوی نامطبوع و کثیفی باعث انتشار مریضی و بوی نامطبوع در روستا شده است
                </p>
                <div class="one_half">
                    <a href="~/images/projects/sb09.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb09.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    مقداری از مواد بازیافتی که کارگران از میان زباله ها جمع اوری میکنن گاهی در میان این زباله ها  .زباله های بیمارستانی نیز وجود دارد که باعث انتقال بیماریها میشوند  .بدلیل تحریمهای امریکا و ضعیف شدن وضعیت اقتصادی مردم و قدر خرید  .مواد بازیافتی در میان  زباله ها بسیار کم شده است واین کم شدن باعث دردسرهای جدید برای این کارگران شده است .
                </p>
                <div class="one_half">
                    <a href="~/images/projects/sb10.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb10.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    چشمه ابی که در حال خشک شدن میباشد بدلیل تغییرات اب وهوایی و نبود پول برای لایروبی این قنات  .قنات در حال خشک شدن میباشد یکی دیگر از دلایل روی اوردن افراد به جمع اوری مواد بازیافتی نبود اب کافی برای کشاورزی میباشد نبود اب و خشکسالی و نداشتن سواد کافی باعث شده تا افراد به شغل جمع اوری مواد بازیافتی رو بیاورند.
                </p>
                <div class="one_half">
                    <a href="~/images/projects/sb11.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb11.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">

                    تعدادی از کودکان در انتظار اتوبوس برای رفتن به مدرسه  شبانه روزی که ۳۶ کیلومتر فاصله دارد تا روستا مدرسه شبانه روزی برای یکسال شهریه ۱۰۰ دلاری قرارداده است که خیلی از افراد روستا قدرت پرداخت این مبلغ را ندارند و برای همین کودکان این افراد از تحصیل باز میمانند و به جمع اوری زباله روی می اورند.

                </p>
                <div class="one_half ">
                    <a href="~/images/projects/sb12.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb12.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    نمایی از روستا که غرق در زباله ها میباشد  .اوردن مواد بازیافتی افراد به خانه و روستا باعث شده تا روستا دچار الودگی گردد.
                </p>
                <div class="one_half ">
                    <a href="~/images/projects/sb13.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb13.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    احمد ۳۰ ساله در کنار سه فرزندش  .احمد به دلیل فقر و نداشتن سواد مجبور به جمع اوری زباله از محل دفن زباله ها میباشد. احمد میگوید بدلیل فقر و اینکه پول کافی ندارد شاید نتواند فرزندانش را برای تحصیل به مدارس شبانه روزی که در ۳۶ کیلومتری روستا است بفرستد او از اینده فرزندانش که روزی زباله جمع کن شوند هراس دارد.
                </p>
                <div class="one_half ">
                    <a href="~/images/projects/sb14.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb14.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    تعدادی از ظروفی که یکی از کارگران در میان زباله ها پیدا کرده است و از انها بعنوان وسایل غذاخوری استفاده میکند  .اکثر کارگران جمع اوری مواد ضایعاتی در شرایط بدی زندگی میکنند.
                </p>
                <div class="one_half ">
                    <a href="~/images/projects/sb15.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb15.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    همسر یکی از کارگران در حال کمک کردن به همسر خود در بالا کشیدن کیسه ضایعات .اکثر کارگران مواد بازیافتی را به مدت یک ماه جمع میکنن و بعد از اینکه به اندازه مورد نظر رسید برای فروش به شهر میبرن. درآمد این افراد برای ۲۴۰ ساعت کار سخت در ماه کمتر از۷۰ دلار میباشد.
                </p>
                <div class="one_half ">
                    <a href="~/images/projects/sb16.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb16.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    ماشین کیسه های مواد ضایعاتی که برای فروش به شهر برده میشود. درآمد این افراد برای ۲۴۰ ساعت کار سخت در ماه کمتر از ۷۰ دلار می باشد.
                </p>
                <div class="one_half ">
                    <a href="~/images/projects/sb17.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb17.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    کارگران در حال وزن کردن کیسه های ضایعاتی  .ضایعات را کارگان به محل های خرید مواد بازیافتی به طور کیلویی می فروشند قیمتی که محل های خرید مواد بازیافتی برای هر سه کیلو مواد بازیافتی می دهند کمتر از ۱ دلار می باشد.
                </p>
                <div class="one_half ">
                    <a href="~/images/projects/sb18.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb18.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    یکی از محلهای خرید مواد بازیافتی از کارگران  .از کارگران مواد بازیافتی را این مکانها میخرند و دوباره مواد را به کارخانه های چرخش مواد بازیافتی ارسال میکنند و میفروشن.
                </p>
                <div class="one_half ">
                    <a href="~/images/projects/sb19.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb19.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    احمد ورضا در ماشین پدر خود در حال اماده شدن برای رفتن به محل دفن زباله ها. ساعات کاری این افراد از ۹ شب تا ۴ صبح میباشد  .در هر اب و هوایی مجبور به رفتن و جمع اوری ضایعات میباشند
                </p>
                <div class="one_half ">
                    <a href="~/images/projects/sb20.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb20.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    یک فرد در حال جمع کردن مواد بازیافتی در میان زباله در محل دفن زباله های شهری  .این افراد به دلیل نداشتن سواد و کار و فقر مجبور به جمع اوری مواد بازیافتی میباشند.
                </p>
                <div class="one_half ">
                    <a href="~/images/projects/sb21.jpg" class="image-link"><img class="has-animation" data-delay="40" src="~/images/projects/sb21.jpg" alt="Image Title"></a>
                </div>

                <p class="has-animation project-text" data-delay="30">
                    احمد بعد از فروختن مواد بازیافتی به یکی از محل های خرید مواد بازیافتی همراه با فرزند خود به سمت خانه میروند تا برای شب و اغاز دوباره کار اماده شوند احمد بدلیل فقر و نبود مدرسه و نداشتن پول .میترسد که فرزندش هم روزی مانند او یک زباله گرد شود.
                </p>
            </div>

        </div>
        <!--/Row -->
    </div>
    <!--/Main Content -->
</div>
<!--/Main -->
